---
const { lang = 'ca', title } = Astro.props;

const translations = {
  ca: {
    game: 'Jugar',
    ranking: 'Puntuacions',
    info: 'Com es juga',
    profile: 'Perfil',
    lang: {
      ca: 'Català',
      es: 'Castellà',
      en: 'Anglès'
    }
  },
  es: {
    game: 'Jugar',
    ranking: 'Puntuaciones',
    info: 'Cómo se juega',
    profile: 'Perfil',
    lang: {
      ca: 'Catalán',
      es: 'Español',
      en: 'Inglés'
    }
  },
  en: {
    game: 'Play',
    ranking: 'Scores',
    info: 'How to play',
    profile: 'Profile',
    lang: {
      ca: 'Catalan',
      es: 'Spanish',
      en: 'English'
    }
  },
};


const t = translations[lang as keyof typeof translations] ?? translations.ca;


---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Un joc de rol en el que els jugadors controlen personatges amb poders especials." />
    <meta property="og:image" content="/images/logo.png" />
    <meta property="og:url" content="https://eccentriqueearth.netlify.app/" />
    <meta property="og:type" content="website" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <header>
      <h2>{title}</h2>
      <nav>
        <a href=`/${lang}/game`>{t.game}</a> |
        <a href=`/${lang}/ranking`>{t.ranking}</a> |
        <a href=`/${lang}/info`>{t.info}</a> |
        <a href=`/${lang}/profile`>👤 {t.profile}</a>

        <select id="language-selector">
          <option value="ca" selected={lang === 'ca'}>{t.lang.ca}</option>
          <option value="es" selected={lang === 'es'}>{t.lang.es}</option>
          <option value="en" selected={lang === 'en'}>{t.lang.en}</option>
        </select>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>© 2025 Francesc</footer>

    <script>
      const selector = document.getElementById("language-selector");

      // Load language from localStorage if available
      const storedLang = localStorage.getItem("lang");
      if (storedLang) {
        selector.value = storedLang;
      }

      selector.addEventListener("change", () => {
        const lang = selector.value;
        localStorage.setItem("lang", lang);
        window.location.href = `/${lang}/game`;
      });
    </script>
  </body>
</html>
